*{
    margin:0;
    padding:0;

}

#column{
    display: flex;
}
#row{
    
    text-align: center;
    font-weight: bold;
}
label{
    font-weight: bold;
    margin: 1rem 3rem;
    font-size: large;

}

body{
    margin-top: 30px;
    height:100vh ;
     width:100vw;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     align-items:center;
     
 }
 #box{
     background-color: rgb(255, 255, 255);
     text-align: center;
     width:40%;
     border-radius: 30px;
     box-shadow: rgba(191, 0, 255, 0.406) 20px 20px 20px 10px;
     align-items: center;
 }
form{margin-top:20px;}

#container{
    /* text-align: center; */
    margin-top: 20px;
    
}
input,select{
    padding:3%;
    margin: 1rem 3rem;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
}
#main_div
{
    color: black;
    height:60%;
   
}

#btn1{
    font-family:"Verdana";
    margin: 20px 30px;
    padding:15px 60px;
    background-color:grey;
    color:white;
    font-style: bold;
    font-size: 30px;
    border-radius: 20px;
    width: 450px;
    align: "center";

}

#btn1:hover{
    background-color:rgb(162, 63, 255);
    color: #000000;
    box-shadow: rgba(191, 0, 255, 0.406) 3px 3px 3px 3px;
    
}

#myresult{
    font-family: Verdana;
    font-size: 25px;
    text-align: center;
    margin-top: 31px;
}
#headeris{
    font-family: "Verdana" ;
    margin: 1rem;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    height:16vh;
    margin-top: 20px;
    text-shadow: 16px 22px 11px rgba(0, 0, 0, 0.156);
}
#resultcontainer{
    display: flex;
    justify-content:center;
    align-items: center;
    
}